


/* нови стилове за галерията  */

/*#gallery-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .gallery-item {
    margin: 10px;
  }
  
  .gallery-item img {
    width: 100px;
    height: 100px;
    cursor: move;
  }
  */