@*<div id="instructions" style="display: none;">
        <p>
        Изберете картинка за фон, върху която ще работите. Оразмерете на основната картина, така че реалните размери да отговарят на скалата. Позиционирайте в средата на работния плот основата, така че да е удобна за работа. Имайте предвид, че картинката се "заключва" на мястото, където е и за да я отключите и преместите, ще трябва да направите "double click" с курсора върху нея, след което пак ще се заключи! Изберете обект от галерията или ваш собствен елемент и го преместете на желаното от Вас място. Мащабирайте, въртете и обръщайте избраните обекти. Използвайте "Shift" за непропорционално оразмеряване. "Shift" + "стрелка нагоре" или надолу - премества едно ниво нагоре или надолу обекта спрямо другите обекти.Графичните обекти от тип SVG могат да бъдат оцветявани и да им бъде поставяна Outline. При маркиране на обект, в долният ляв ъгъл се изписват реалните
        размери, площ в кв.см и стойността на обекта. В дясната информационна част се изписват -
        площта, стойността и броя на обектите, които са на работния плот. Там се намират и два
        бутона за определяне вида на работния материал - автомобилно и трационно фолио. При
        желание може да съхраните проекта на компютъра си чрез натискане на бутоните "Save to PDF" или "Save to JPEG".
        Важно!!! Картинката за фон се използва само за визуално онагледяване, за това как ще стоят стикерите върху нея и не се калкулира в цената! Можете да съхраните проекта и в по-късен етап да го редактирате, споделите с останалите потребители или го добавите в потребителската кошница. Успех!
        </p>

        </div>*@
<div id="instructions" style="display: none;">
    <p>
        Choose a background image on which you will work. Resize the main picture so that the actual dimensions match the scale. Position the base in the center of the workspace for convenience. Keep in mind that the image is "locked" in place, and to unlock and move it, you will need to "double click" the cursor on it, after which it will lock again! Select an object from the gallery or your own element and move it to the desired location. Scale, rotate, and flip the selected objects. Use "Shift" for non-proportional resizing. "Shift" + ↑ or "Shift" + ↓ - moves the object one level up or down relative to other objects. SVG graphic objects can be colored and have an Outline applied. When an object is selected, the real dimensions, area in square centimeters, and the value of the object are displayed in the lower left corner. The right information section displays the area, value, and number of objects on the workspace. There are also two buttons to determine the type of working material - automotive and traction foil. If desired, you can save the project to your computer by pressing the "Save to PDF" or "Save to JPEG" buttons.
        Important!!! The background image is used only for visual representation of how the stickers will look on it and is not calculated in the price! You can save the project and edit it at a later stage, share it with other users, or add it to the user's cart. Good luck!
    </p>
</div>