<select class="text-button" id="font-family-button">
    <option value="Arial">Arial</option>
    <option value="Arial Black">Arial Black</option>
    <option value="Arial Narrow">Arial Narrow</option>
    <option value="Arial Rounded MT Bold">Arial Rounded MT Bold</option>
    <option value="Arial Unicode MS">Arial Unicode MS</option>
    <option value="Baskerville Old Face">Baskerville Old Face</option>
    <option value="Berlin Sans FB">Berlin Sans FB</option>
    <option value="Berlin Sans FB Demi">Berlin Sans FB Demi</option>
    <option value="Bernard MT Condensed">Bernard MT Condensed</option>
    <option value="Blackadder ITC">Blackadder ITC</option>
    <option value="Bodoni MT">Bodoni MT</option>
    <option value="Book Antiqua">Book Antiqua</option>
    <option value="Bookman Old Style">Bookman Old Style</option>
    <option value="Comic Sans MS">Comic Sans MS</option>
    <option value="Courier New">Courier New</option>
    <option value="Garamond">Garamond</option>
    <option value="Georgia">Georgia</option>
    <option value="Impact">Impact</option>
    <option value="Lucida Console">Lucida Console</option>
    <option value="Lucida Sans Unicode">Lucida Sans Unicode</option>
    <option value="MS Sans Serif">MS Sans Serif</option>
    <option value="MS Serif">MS Serif</option>
    <option value="Palatino Linotype">Palatino Linotype</option>
    <option value="Symbol">Symbol</option>
    <option value="Times New Roman">Times New Roman</option>
    <option value="Tahoma">Tahoma</option>
    <option value="Times New Roman">Times New Roman</option>
    <option value="Trebuchet MS">Trebuchet MS</option>
    <option value="Verdana">Verdana</option>
    <option value="Webdings">Webdings</option>
    <option value="Wingdings">Wingdings</option>
    <option value="Wingdings 2">Wingdings 2</option>
    <option value="Wingdings 3">Wingdings 3</option>
</select>