@{
    ViewData["Title"] = "Useful Links";
    ViewData["BodyClass"] = "canvas-body";
    Layout = "_Layout";
}

<link rel="stylesheet" href="~/MVC CSS_JS/Styles.css">

<div id="spinner" class="ring" style="z-index: 9999;">
    Loading
    <span></span>
</div>

<div class="background-image-div" style="position:fixed; top:0; left:0; height:100vh; width:100vw; z-index:-1; background-image: url('@Url.Content("~/Images/ChatBackground1.jpg")'); background-size: cover; background-repeat: no-repeat; background-position: center;"></div>

<h1>@ViewData["Title"]</h1>

<ul>
    <li><a href="https://www.haarp.bg">HAARP.bg</a></li>
    <li><a href="https://www.reklamata.net">REKLAMATA.net</a></li>
    <!-- Add more links as needed -->
</ul>
