<body id="home">
    <br />
<div class="fancy-header" style="margin-top: 10px;">
        Welcome to
    </div>
    <div class="fancy-sub-header" style="margin-top: 5px;">
        MILLENIUM ADVERTISING AGENCY
    </div>




<div id="templatemo_slider" style="margin-top: 10px;">
        <!-- This is the container for the carousel. -->
        <div id="carousel1" style="width: 960px; height: 280px; background: none; overflow: scroll; margin-top: 20px">
            <!-- All images with class of "cloudcarousel" will be turned into carousel items -->
            <!-- You can place links around these images -->
            <a href="http://reklamata.net/content/BG/id-92/%D0%90%D0%B2%D1%82%D0%BE%D0%BC%D0%BE%D0%B1%D0%B8%D0%BB%D0%BD%D0%B0-%D1%80%D0%B5%D0%BA%D0%BB%D0%B0%D0%BC%D0%B0.htm" rel="lightbox" target="_blank"><img class="cloudcarousel" src="./images/Carousel/Carrusel1.jpg" alt="CSS Templates 1" title="Website Templates 1" /></a>
            <a href="http://haarp.bg/content/BG/id-102/%D0%94%D0%B5%D0%BA%D0%BE%D1%80%D0%B0%D1%82%D0%B8%D0%B2%D0%BD%D0%B8-%D0%BF%D0%B0%D0%BD%D0%B0-%D0%B8-%D0%BA%D0%B0%D1%80%D1%82%D0%B8%D0%BD%D0%B8.htm" rel="lightbox" target="_blank"><img class="cloudcarousel" src="./images/Carousel/Carrusel2.jpg" alt="CSS Templates 2" title="Website Templates 2" /></a>
            <a href="http://reklamata.net/content/BG/id-118/%D0%9F%D0%A0%D0%90%D0%92%D0%98%D0%9B%D0%90-%D0%9D%D0%90-%D0%9A%D0%90%D0%A2-%D0%97%D0%90-%D0%9E%D0%91%D0%9B%D0%95%D0%9F%D0%92%D0%90%D0%9D%D0%95-%D0%9D%D0%90-%D0%9C%D0%9F%D0%A1.htm" rel="lightbox" target="_blank"><img class="cloudcarousel" src="./images/Carousel/Carrusel3.jpg" alt="CSS Templates 3" title="Website Templates 3" /></a>
            <a href="http://haarp.bg/content/BG/id-92/%D0%90%D0%B2%D1%82%D0%BE%D0%BC%D0%BE%D0%B1%D0%B8%D0%BB%D0%BD%D0%B0-%D1%80%D0%B5%D0%BA%D0%BB%D0%B0%D0%BC%D0%B0.htm" rel="lightbox" target="_blank"><img class="cloudcarousel" src="./images/Carousel/Carrusel4.jpg" alt="CSS Templates 4" title="Website Templates 4" /></a>
            <a href="http://reklamata.net/content/BG/id-101/%D0%A1%D1%82%D0%B8%D0%BA%D0%B5%D1%80%D0%B8-%D0%B7%D0%B0-%D1%81%D1%82%D0%B5%D0%BD%D0%B0.htm" rel="lightbox" target="_blank"><img class="cloudcarousel" src="./images/Carousel/Carrusel5.jpg" alt="Flash Templates 1" title="Flash Templates 1" /></a>
            <a href="http://haarp.bg/content/BG/id-118/%D0%9F%D0%A0%D0%90%D0%92%D0%98%D0%9B%D0%90-%D0%9D%D0%90-%D0%9A%D0%90%D0%A2-%D0%97%D0%90-%D0%9E%D0%91%D0%9B%D0%95%D0%9F%D0%92%D0%90%D0%9D%D0%95-%D0%9D%D0%90-%D0%9C%D0%9F%D0%A1.htm" rel="lightbox" target="_blank"><img class="cloudcarousel" src="./images/Carousel/Carrusel6.jpg" alt="Flash Templates 2" title="Flash Templates 2" /></a>
            <a href="http://haarp.bg" rel="lightbox" target="_blank"><img class="cloudcarousel" src="./images/Carousel/Carrusel7.jpg" alt="Flash Templates 3" title="Flash Templates 3" /></a>
            <a href="http://reklamata.net" rel="lightbox" target="_blank"><img class="cloudcarousel" src="./images/Carousel/Carrusel8.jpg" alt="Flash Templates 4" title="Flash Templates 4" /></a>
        </div>

        <!-- Define left and right buttons. -->
        <div style="margin-top: 15px; text-align: center;">
            <input id="slider-left-but" type="button" value="" />
            <input id="slider-right-but" type="button" value="" />
        </div>
    </div>

</body>
